@media (max-width:1212px) {
    .fixed-width {
        width: 1083px;
    }
    .section .left .blog {
        margin-bottom: 51px;
    }
    .section .left p {
        font-size: 18px;
    }
    .section .right ul li {
        
        
        font-size: 20px;
        margin: 23px 92px;
    }
}
@media (max-width:1195px) {
    .fixed-width {
        width: 1015px;
    }
    .section .left {
     width: 100%;
     }
     .section .right {
     
        width: 100%;
    }
    .section .right {
     
        margin: 35px -19px;
    }
    .section .right ul li {
        font-size: 30px;
        margin: 35px 207px;
    }
}
.section .right ul li {
	font-size: 17px;
	margin: 35px 92px;
}
@media (max-width:1130px) {
    .fixed-width {
        width: 895px;
    }
    .banner h1 {
        margin: 20px 266px;
        width: 376px;
    }
    .section .right ul li {
        font-size: 20px;
        margin: 35px 236px;
    }
    .footer p {
        
        font-size: 23px;
    }
}
@media (max-width:908px) {
    .fixed-width {
        width: 773px;
    }
    .banner h1 {
        margin: 20px 201px;
        font-size: 29px;
        padding: 4px 20px;
        width: 344px;
    }
    .banner h2 {
        font-size: 22px;
    }
    .service .social-menu {
     
        width: 31.2%;
   
        padding: 37px;
        
        padding: 24px 0;
        margin: 0 8px;
    }
    .footer p {

	font-size: 19px;
}
.icon ul li {

	font-size: 20px;
}
}
@media ( max-width:809px ) {
    .fixed-width {
        width: 768px;
    }
}
@media ( max-width:804px ) {
    .fixed-width {
        width: 740px;
    }
}
@media (max-width:785px) {
    .right ul li a {
        padding: 0 15px;
        font-size: 17px;
        border-right: none;
    }
    .right ul {
        text-align: center;
    }
    .right {
        width: 100%;
    }
    .left {
        width: 100%;
        text-align: center;
    }
    .fixed-width {
        width: 715px;
    }
    .banner h1 {
        margin: 20px 168px;
    }
    .service .social-menu {
        width: 30.2%;
        padding: 37px;
        padding: 24px 0;
     
    }
    .service .social-menu span {
        font-size: 32px;
        padding: 5px 15px;
    }
    .service .social-menu h3 {
        font-size: 22px;
        margin: 13px 0;
       
    }
    .footer p {
        font-size: 17px;
    }
    .icon ul li {
        font-size: 17px;
    }
}

@media (max-width:751px) {
    .section .right ul li {
        font-size: 22px;
        margin: 35px 170px;
    }
    .fixed-width {
        width: 704px;
    }
    .banner {
      
        padding: 130px 0;
      
    }
}
@media (max-width:740px) {
    .fixed-width {
        width: 667px;
    }
    
}
@media (max-width:725px) {
    .fixed-width {
        width: 677px;
    }
    .banner h1 {
        margin: 20px 150px;
    }
    .section .right ul li {
        font-size: 24px;
        margin: 35px 207px;
    }
}
@media (max-width:713px) {
    .fixed-width {
        width: 676px;
    }
  
}
@media (max-width:713px) {
    .fixed-width {
        width: 673px;
    }
  
}
@media (max-width:709px) {
    .fixed-width {
        width: 664px;
    }
  
}
@media (max-width:700px) {
    .fixed-width {
        width: 647px;
    }
  
}


@media (max-width:690px) {
    .fixed-width {
        width: 619px;
    }
    .banner h1 {
        margin: 20px 114px;
    }
    .section .right ul li {
        font-size: 18px;
     
    }
    .footer .write {
        
        width: 100%;
        text-align: center;
    }
    .footer .icon {
      
        width: 100%;
        margin-top: 10px;
    }
    .icon ul li {
      
        color: #93cbe1;
    }
}
@media (max-width:655px) {
    .fixed-width {
        width: 611px;
    }
}
@media (max-width:647px) {
    .fixed-width {
        width: 570px;
    }
    .section .right {
        margin: -36px -19px;
    }
    .section .right ul li {
        font-size: 15px;
    }
    .footer {
       
        margin-top: 16px;
    }
}
